.leaflet-container {
    width: 100vw;
    height: 100vh;

}
<<<<<<< HEAD
.GPS-marker {
    width: 12px;
    height: 12px;
    background-color: blue; /* 青色 */
    border-radius: 50%; /* 円形 */
    border: 2px solid white; /* 外枠 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 影 */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
=======
/* カスタムアイコンの色を変更するためのクラス */
.custom-icon-red {
    filter: hue-rotate(0deg) brightness(0) sepia(1) saturate(5) contrast(1);
}

/* 画像オーバーレイのスタイル */
.leaflet-image-overlay {
    opacity: 0.7; /* 画像オーバーレイの透明度調整 */
}

/* マップのサイズ調整 */
.leaflet-container {
    width: 100%;
    height: 100vh;
}
>>>>>>> feature/hiraki-try
